{% extends 'layout.html' %} {% block styles %}
<style>
    .revision {
        color: #F0EA30;
        font-weight: bold;
    }
    
    .aprobado {
        color: rgb(195, 203, 195);
        font-weight: bold;
    }
    
    .foto {
        display: block;
        width: 5rem;
    }
    
    th,
    td {
        text-align: center;
    }
</style>
{% endblock %} {% block main %}
<nav class="navbar navbar-dark bg-primary">
    <p> Bienvenido | {{user.name}}</p>
    <a href="/logout" class="m3- btn btn-secondary ">Logout</a>
</nav>
<h1 class="text-center mt-4 mb-4" id="titulo">Menu Escolar</h1>
<h3 class="text-center mt-4 mb-4" id="subtitulo">Pedidos</h3>
<a href="/new" class="m3- btn btn-primary justify-content-md-end">Nuevo Pedido</a><br>
<div class="col-4 ">
    <div class="row">
        <div class="form-floating mb-4 text-center col-6">
            <div class=" border border-success ">
                <p>M1: Menú Vegetariano</p>
                <p>M1: Menú Celiaco</p>
                <p>M1: Menú Estándar</p>
            </div>
        </div>
        <div class="form-floating mb-4 text-center col-6">
            <div class=" border border-success ">
                <p>M1: Menú Vegetariano</p>
                <p>M1: Menú Celiaco</p>
                <p>M1: Menú Estándar</p>
            </div>
        </div>
    </div>
</div>

{% if user %}
<div>
    {% if user.email == 'admin@gmail.com' %}
    <a href="/admin" class="m-3 btn btn-secondary">Admin</a> {% endif%}
    <a href="/logout" class="m3- btn btn-secondary">Cerrar Sesión</a>

</div>
<br> {% endif %}

<table class=" table table-dark mb-5">
    <thead>
        <tr>
            <th scope="col">FECHA</th>
            <th scope="col">M1</th>
            <th scope="col">M2</th>
            <th scope="col">M3</th>
            <th scope="col">M4</th>
            <th scope="col">M5</th>
            <th scope="col">ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td scope="row"> {{ user.id }} </td>
            <td>{{ user.fecha }}</td>
            <td> {{user.vegetarian}} </td>
            <td>{{ user.celiac }} </td>
            <td>{{ user.standard}} </td>
            <td>{{ user.caloric }} </td>
            <td>{{ user.ethnic }} </td>
            <td>
                {% if skater.estado %}
                <span class="aprobado">Aprobado</span> {% else %}
                <span class="revision"> En revision</span> {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table><br> {% if user %} {%else%}
<p class="text-center">
    <a href="/login">Iniciar Sesión</a> | <a href="/register">Registrarse</a>
</p>
{% endif %}

<br> {% endblock %} {% block script %}
<script>
    ;
</script>
{% endblock %}